


<div class="row">
  <% @movie.each do |movie| %>
      <div class="col-md-12">

        <div>
          <%= movie.agent.name %>
          <%= movie.title %>
          <%= movie.year %>
          <%= movie.runtime %>
          <%= movie.id %>

        </div>
        <div class="thumbnail">
          <%= link_to (image_tag movie.poster_url(:thumb).to_s, class: 'poster'), movies_path %>
        </div>

      </div>
  <% end %>
</div>



